# 3. Datenstrukturen

## 3.1 Strings

### Compare

- Erstellen Sie das Script `compare.py` das zwei Namen einliest.
- Geben Sie die Namen alphabetisch sortiert auf der Konsole aus.
- Beispiel Ausgabe:
  ```
  Please enter:
  Name 1 = Zoé
  Name 2 = Andrea

  Sorted names:
  Andrea
  Zoé
  ```

**Hinweis**:
- Zum einlesen einer Eingabe können Sie (analog dem folgenden Beispiel) die Methode input() verwenden:
  ```
  eingabe = input("Geben Sie bitte einen Text ein:")
  ```

In [4]:
print("Please enter:")
name1 = input("Name 1 = ")
name2 = input("Name 2 = ")

print("\nSorted names:")
if (name1 <= name2):
    print(name1)
    print(name2)
else:
    print(name2)
    print(name1)

Please enter:

Name 1 =  Mike
Name 2 =  Anna

Sorted names:
Anna
Mike

### SplitDate
- Definieren Sie einen String der ein Datum mit Tagen, Monat und Jahr beinhaltet wie zum Beispiel "17.04.1966" oder "1.3.07".
- Zerlegen Sie nun die Eingabe in drei einzelne Strings für die Tage, den Monat und das Jahr. 
- Geben Sie die einzelnen Strings auf der Konsole aus.
- Beispiel Ausgabe:
  ```
  Date: 17.04.1966
    day   = 17
    month = 04
    year  = 1966
  Date: 1.3.07
    day   = 1
    month = 3
    year  = 07
  ```

**Hinweis**:
- Versuchen Sie einen zweiten Lösungsansatz zu finden. 
- Eine Möglichkeit ist mit Hilfe der split() Methode, eine andere Möglichkeit bietet die index()
  Methode zusammen mit Slicing.

In [3]:
def show(date, day, month, year):
    print("Date:", date)
    print("  day   =", day)
    print("  month =", month)
    print("  year  =", year)

dates = ["17.04.1966", "1.3.07", "15.8.2021"]

print("--- Solution with split ---")
for date in dates:
    tokens = date.split(sep=".")
    day   = tokens[0]
    month = tokens[1]
    year  = tokens[2]
    show(date, day, month, year)

print("--- Solution with index und slicing ---")
for date in dates:
    idx1 = date.index(".")
    idx2 = date.index(".", idx1+1)
    day   = date[0:idx1]
    month = date[idx1+1:idx2]
    year  = date[idx2+1:]
    show(date, day, month, year)

--- Solution with split ---
Date: 17.04.1966
  day   = 17
  month = 04
  year  = 1966
Date: 1.3.07
  day   = 1
  month = 3
  year  = 07
Date: 15.8.2021
  day   = 15
  month = 8
  year  = 2021
--- Solution with index und slicing ---
Date: 17.04.1966
  day   = 17
  month = 04
  year  = 1966
Date: 1.3.07
  day   = 1
  month = 3
  year  = 07
Date: 15.8.2021
  day   = 15
  month = 8
  year  = 2021