# Set

Ein Set ist eine ungeordnete Sammlung von einzigartigen Elementen. Doppelte Werte werden automatisch entfernt. Sets sind nützlich, wenn man z. B. prüfen will, ob ein Element vorhanden ist, oder wenn man mathematische Mengenoperationen durchführen möchte.

## Initialisierung

In [8]:
s1 = set()            # {}
s2 = set([1,2,3])     # {1, 2, 3}
s3 = set([1,2,3,1])   # {1, 2, 3}
s4 = set("sam")       # {'s','a','m'}

print(s1)
print(s2)
print(s3)
print(s4)

set()
,{1, 2, 3}
,{1, 2, 3}
,{'m', 'a', 's'}

Es werden nur die eindeutigen Werte übernommen. Doppelte Elemente fallen weg:

In [10]:
l = [1, 2, 3, 2, 6, 2]
s = set(l)         

print(s)

{1, 2, 3, 6}

## Set Operationen

### add

In [1]:
s = set([1,2,3])    # {1, 2, 3}

s.add(4)            # {1, 2, 3, 4}
s.add(0)            # {0, 1, 2, 3, 4}

print(s)

{0, 1, 2, 3, 4}

### pop

Mit `pop` wird das Element der ersten Position entfernt.

In [8]:
s = set([1,2,3,4])

e = s.pop()       
print(f"Element {e} removed, result={s}")

e = s.pop()       
print(f"Element {e} removed, result={s}")

Element 1 removed, result={2, 3, 4}
Element 2 removed, result={3, 4}

### remove

Mit `remove` wird das angegebene Element (Wert nicht Position) entfernt.

In [10]:
s = set([1,2,3,4])

s.remove(3)         # {1, 2, 4}
print(s)

{1, 2, 4}

### discard

Wie remove(), aber ohne Fehler, falls Element fehlt.

In [2]:
zahlen = {1, 2, 3}
zahlen.discard(2)
zahlen.discard(5)  # kein Fehler

print(zahlen)

{1, 3}

### clear, in

Mit `in` kann geprüft werden ob ein Element in einem Set vorkommt. Mit `clear` werden alle Elemente entfernt.

In [16]:
zahlen = {1, 2, 3}
print(1 in zahlen)

zahlen.clear()
print(1 in zahlen)

True
False

## Mengenoperationen

Die Mengenoperationen `union`, `intersection` und `difference` wollen wir mit dem beiden folgende Sets analysieren.

```mermaid
graph TD
    s1 --> x[1,2,3]
    
    s2 --> y[1,4]
```

Erstellen Sie die beiden Sets und führen sie anschliessend die folgenden Funktionen aus:
- s1.union(s2)           
- s1.intersection(s2)    
- s1.difference(s2)      
- s2.difference(s1)

In [9]:
s1 = set([1,2,3])
s2 = set([1,4])

### union

In [10]:
s = s1.union(s2)
print(s)

{1, 2, 3, 4}

### intersection

In [11]:
s = s1.intersection(s2)
print(s)

{1}

### difference

In [12]:
s = s1.difference(s2)
print(s)

s = s2.difference(s1)
print(s)

{2, 3}
{4}

### symmetric_difference

Gibt die Elemente an, die entweder in Menge 1 oder 2 vorkommen, aber nicht in beiden.

In [14]:
s = s1.symmetric_difference(s2)
print(s)

{2, 3, 4}

# Aufgaben

### Operationen

Erstelle ein Set mit den Zahlen {1, 2, 3}.
- Füge die Zahl 4 hinzu.
- Entferne die Zahl 2.
- Gib das Ergebnis aus.

In [3]:
zahlen = {1, 2, 3}
zahlen.add(4)
zahlen.remove(2)

print(zahlen)  # {1, 3, 4}

{1, 3, 4}

## Mengen

Gegeben sind die zwei Mengen A und B. 
- Gib alle Früchte aus, die in beiden Sets vorkommen.
- Gib alle Früchte aus, die nur in A oder nur in B vorkommen.

In [5]:
A = {"Apfel", "Banane", "Kirsche"}
B = {"Banane", "Orange", "Kirsche", "Birne"}

In [6]:
# Schnittmenge
gemeinsam = A.intersection(B)
print("In beiden:", gemeinsam)  # {'Banane', 'Kirsche'}

# Symmetrische Differenz
nur_einmal = A.symmetric_difference(B)
print("Nur in einer Menge:", nur_einmal)

In beiden: {'Kirsche', 'Banane'}
Nur in einer Menge: {'Apfel', 'Orange', 'Birne'}